<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    <div class="single-search-product-wrapper">
        {{#each topProduct1}}
        <div class="single-search-product d-flex">
            <a href="{{this.slug}}"><img src="/img/products/{{this.imageCover}}" alt=""></a>
            <div class="desc">
                <a href="{{this.slug}}" class="title">{{name}}</a>
                <div class="price">${{this.price}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    <div class="single-search-product-wrapper">
        {{#each topProduct2}}
        <div class="single-search-product d-flex">
            <a href="{{this.slug}}"><img src="/img/products/{{this.imageCover}}" alt=""></a>
            <div class="desc">
                <a href="{{this.slug}}" class="title">{{name}}</a>
                <div class="price">${{this.price}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    <div class="single-search-product-wrapper">
        {{#each topProduct3}}
        <div class="single-search-product d-flex">
            <a href="{{this.slug}}"><img src="/img/products/{{this.imageCover}}" alt=""></a>
            <div class="desc">
                <a href="{{this.slug}}" class="title">{{name}}</a>
                <div class="price">${{this.price}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    <div class="single-search-product-wrapper">
        {{#each topProduct4}}
        <div class="single-search-product d-flex">
            <a href="{{this.slug}}"><img src="/img/products/{{this.imageCover}}" alt=""></a>
            <div class="desc">
                <a href="{{this.slug}}" class="title">{{name}}</a>
                <div class="price">${{this.price}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>