extends base

block content
    aside#colorlib-hero
        .flexslider
            ul.slides
                li(style='background-image: url(/images/img_bg_1.jpg);')
                    .overlay
                    .container-fluid
                        .row
                            .col-sm-6.offset-sm-3.text-center.slider-text
                                .slider-text-inner
                                    .desc
                                        h1.head-1 Adidas&apos;s
                                        h2.head-2 Shoes
                                        h2.head-3 Collection
                                        p.shop
                                            span New trending shoes
                                        p
                                            a.btn.btn-primary(href="/shop") Shop Collection
                li(style='background-image: url(/images/img_bg_2.jpg);')
                    .overlay
                    .container-fluid
                        .row
                            .col-sm-6.offset-sm-3.text-center.slider-text
                                .slider-text-inner
                                    .desc
                                        h1.head-1 Huge
                                        h2.head-2 Sale
                                        h2.head-3
                                            strong.font-weight-bold 50%
                                            |  Off
                                        p.shop
                                            span Big sale sandals
                                        p
                                            a.btn.btn-primary(href='#') Shop Collection
                li(style='background-image: url(/images/img_bg_3.jpg);')
                    .overlay
                    .container-fluid
                        .row
                            .col-sm-6.offset-sm-3.text-center.slider-text
                                .slider-text-inner
                                    .desc
                                        h1.head-1 New
                                        h2.head-2 Arrival
                                        h2.head-3
                                            | up to 
                                            strong.font-weight-bold 30%
                                            |  off
                                        p.shop
                                            span New stylish shoes for men
                                        p
                                            a.btn.btn-primary(href='#') Shop Collection
    .colorlib-intro
        .container
            .row
                .col-sm-12.text-center
                    h2.intro
                        | It started with a simple idea: Create quality, well-designed products that I wanted myself.
    .colorlib-product
        .container-fluid
            .row
                .col-sm-6.text-center
                    .featured
                        a.featured-img(href='#' style='background-image: url(/images/img_bg_adidas_1.jpg);')
                        .desc
                            h2
                                a(href='#') Shop Adidas&apos;s Collection
                .col-sm-6.text-center
                    .featured
                        a.featured-img(href='#' style='background-image: url(/images/img_bg_nike.jpg);')
                        .desc
                            h2
                                a(href='#') Shop Nike&apos;s Collection
    .colorlib-product
        .container
            .row
                .col-sm-8.offset-sm-2.text-center.colorlib-heading
                    h2 Best Sellers
            .row.row-pb-md
                each product in products
                    .col-lg-3.mb-4.text-center
                        .product-entry.border
                            a.prod-img(href=`/products/${product.slug}`)
                                img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                            .desc
                                h2
                                    a(href=`/products/${product.slug}`) #{product.name}
                                span.price= `$${product.price}`
                
            .row
                .col-md-12.text-center
                    p
                        a.btn.btn-primary.btn-lg(href='/shop') Shop All Products
    .colorlib-partner
        .container
            .row
                .col-sm-8.offset-sm-2.text-center.colorlib-heading.colorlib-heading-sm
                    h2 Trusted Partners
            .row
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-1.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-2.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-3.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-4.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-5.jpg' alt='Free html4 bootstrap 4 template')
    