extends base
block append scripts   
    script(src='/js/product-detail.js')

block content
    .breadcrumbs
        .container
            .row
                .col
                    p.bread
                        span
                            a(href='/') Home
                        |  / 
                        span Product Details
    .colorlib-product
        .container
            .row.row-pb-lg.product-detail-wrap
                .col-sm-8
                    .owl-carousel
                        .item
                            .product-entry.border
                                a.prod-img(href='')
                                    img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                        .item
                            .product-entry.border
                                a.prod-img(href='')
                                    img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                        .item
                            .product-entry.border
                                a.prod-img(href='')
                                    img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                        .item
                            .product-entry.border
                                a.prod-img(href='')
                                    img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                        
                .col-sm-4
                    .product-desc
                        h3= `${product.name}`
                        p.price
                            span= `$${product.price}`
                            span.rate
                                each star in [1, 2, 3, 4, 5]
                                    if product.ratingsAverage > star
                                        i.icon-star-full
                                    else if star - product.ratingsAverage < 0.5
                                        i.icon-star-half
                                    else
                                        i.icon-star
                                |&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;(#{product.ratingsQuantity}. Rating)
                        p
                            | #{product.description[0]}
                        .size-wrap
                            .block-26.mb-2
                                h4 Size
                                ul
                                    each val in product.size
                                        li
                                            a(href='#')= val
                                    
                        .input-group.mb-4
                            span.input-group-btn
                                button.quantity-left-minus.btn(type='button' data-type='minus' data-field='')
                                    i.icon-minus2
                            input#quantity.form-control.input-number(type='text' name='quantity' value='1' min='1' max='100')
                            span.input-group-btn.ml-1
                                button.quantity-right-plus.btn(type='button' data-type='plus' data-field='')
                                    i.icon-plus2
                        .row
                            .col-sm-12.text-center
                                p.addtocart
                                    a.btn.btn-primary.btn-addtocart(href='cart.html')
                                        i.icon-shopping-cart
                                        |  Add to Cart
            .row
                .col-sm-12
                    .row
                        .col-md-12.pills
                            .bd-example.bd-example-tabs
                                ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                                    li.nav-item
                                        a#pills-description-tab.nav-link.active(data-toggle='pill' href='#pills-description' role='tab' aria-controls='pills-description' aria-expanded='true') Description
                                    li.nav-item
                                        a#pills-manufacturer-tab.nav-link(data-toggle='pill' href='#pills-manufacturer' role='tab' aria-controls='pills-manufacturer' aria-expanded='true') Manufacturer
                                    li.nav-item
                                        a#pills-review-tab.nav-link(data-toggle='pill' href='#pills-review' role='tab' aria-controls='pills-review' aria-expanded='true') Review
                                #pills-tabContent.tab-content
                                    #pills-description.tab-pane.border.fade.show.active(role='tabpanel' aria-labelledby='pills-description-tab')
                                        p
                                            | #{product.description[0]}
                                        p
                                            | #{product.description[1]}
                                        ul
                                            each val, index in product.description
                                                if index > 1
                                                    li= val
                                           
                                    #pills-manufacturer.tab-pane.border.fade(role='tabpanel' aria-labelledby='pills-manufacturer-tab')
                                        p
                                            | #{product.description[0]}
                                        p
                                            | #{product.description[1]}
                                    #pills-review.tab-pane.border.fade(role='tabpanel' aria-labelledby='pills-review-tab')
                                        .row
                                            .col-md-8
                                                h3.head 23 Reviews
                                                .review
                                                    .user-img(style='background-image: url(/images/person1.jpg)')
                                                    .desc
                                                        h4
                                                            span.text-left Jacob Webb
                                                            span.text-right 14 March 2018
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-half
                                                                i.icon-star-empty
                                                            span.text-right
                                                                a.reply(href='#')
                                                                    i.icon-reply
                                                        p
                                                            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                                .review
                                                    .user-img(style='background-image: url(/images/person2.jpg)')
                                                    .desc
                                                        h4
                                                            span.text-left Jacob Webb
                                                            span.text-right 14 March 2018
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-half
                                                                i.icon-star-empty
                                                            span.text-right
                                                                a.reply(href='#')
                                                                    i.icon-reply
                                                        p
                                                            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                                .review
                                                    .user-img(style='background-image: url(/images/person3.jpg)')
                                                    .desc
                                                        h4
                                                            span.text-left Jacob Webb
                                                            span.text-right 14 March 2018
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-half
                                                                i.icon-star-empty
                                                            span.text-right
                                                                a.reply(href='#')
                                                                    i.icon-reply
                                                        p
                                                            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                            .col-md-4
                                                .rating-wrap
                                                    h3.head Give a Review
                                                    .wrap
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   &#x9;&#x9;&#x9;&#x9;&#x9;(98%)
                                                            span 20 Reviews
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-empty
                                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   &#x9;&#x9;&#x9;&#x9;&#x9;(85%)
                                                            span 10 Reviews
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   &#x9;&#x9;&#x9;&#x9;&#x9;(70%)
                                                            span 5 Reviews
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-full
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   &#x9;&#x9;&#x9;&#x9;&#x9;(10%)
                                                            span 0 Reviews
                                                        p.star
                                                            span
                                                                i.icon-star-full
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                i.icon-star-empty
                                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   &#x9;&#x9;&#x9;&#x9;&#x9;(0%)
                                                            span 0 Reviews