extends base

block append scripts
    script(src='/js/products.js')
    
block content
    .breadcrumbs
        .container
            .row
                .col
                    p.bread
                        span
                            a(href='/') Home
                        |  / 
                        span Shop
    .breadcrumbs-two
        .container
            .row
                .col
                    .breadcrumbs-img(style='background-image: url(/images/cover-img-1.jpg);')
                        h2 Nike
                    .menu.text-center
                        p
                            a(href='#') New Arrivals
                            a(href='#') Best Sellers
                            a(href='#') Extended Widths
                            a(href='#') Sale
    //- .colorlib-featured
        .container
            .row
                .col-sm-4.text-center
                    .featured
                        .featured-img.featured-img-2(style='background-image: url(/images/img_bg_2.jpg);')
                            h2 Casuals
                            p
                                a.btn.btn-primary.btn-lg(href='#') Shop now
                .col-sm-4.text-center
                    .featured
                        .featured-img.featured-img-2(style='background-image: url(/images/women.jpg);')
                            h2 Dress
                            p
                                a.btn.btn-primary.btn-lg(href='#') Shop now
                .col-sm-4.text-center
                    .featured
                        .featured-img.featured-img-2(style='background-image: url(/images/item-11.jpg);')
                            h2 Sports
                            p
                                a.btn.btn-primary.btn-lg(href='#') Shop now
    .colorlib-product
        .container
            .row
                .col-lg-3.col-xl-3
                    .row
                        .col-sm-12
                            .side.border.mb-1
                                h3 Brand
                                ul
                                    li
                                        a(href='?brand=Nike') Nike
                                    li
                                        a(href='?brand=Adidas') Adidas
                                    li
                                        a(href='?brand=Vans') Vans
                                    li
                                        a(href='?brand=Puma') Puma
                        .col-sm-12
                            .side.border.mb-1
                                h3 Price
                                ul
                                    li
                                        a(href='?priceFrom=0&priceTo=25') Under $25
                                    li
                                        a(href='?priceFrom=25&priceTo=50') $25 to $50
                                    li
                                        a(href='?priceFrom=50&priceTo=100') $50 to $100
                                    li
                                        a(href='?priceFrom=100&priceTo=200') $100 to $200
                                    li
                                        a(href='?priceFrom=200&priceTo=1000') $200 & Above

                        .col-sm-12
                            .side.border.mb-1
                                h3 Size/Width
                                .block-26.mb-2
                                    h4 Size
                                        - var n = 30;
                                    ul
                                        while n < 42
                                            li
                                                a(href=`?size=${n}`) #{n++}
                                //.block-26
                                    h4 Width
                                    ul
                                        li
                                            a(href='#') M
                                        li
                                            a(href='#') W
                        // .col-sm-12
                            .side.border.mb-1
                                h3 Style
                                ul
                                    li
                                        a(href='#') Slip Ons
                                    li
                                        a(href='#') Boots
                                    li
                                        a(href='#') Sandals
                                    li
                                        a(href='#') Lace Ups
                                    li
                                        a(href='#') Oxfords
                        // .col-sm-12
                            .side.border.mb-1
                                h3 Colors
                                ul
                                    li
                                        a(href='#') Black
                                    li
                                        a(href='#') White
                                    li
                                        a(href='#') Blue
                                    li
                                        a(href='#') Red
                                    li
                                        a(href='#') Green
                                    li
                                        a(href='#') Grey
                                    li
                                        a(href='#') Orange
                                    li
                                        a(href='#') Cream
                                    li
                                        a(href='#') Brown
                        // .col-sm-12
                            .side.border.mb-1
                                h3 Material
                                ul
                                    li
                                        a(href='#') Leather
                                    li
                                        a(href='#') Suede
                        // .col-sm-12
                            .side.border.mb-1
                                h3 Technologies
                                ul
                                    li
                                        a(href='#') BioBevel
                                    li
                                        a(href='#') Groove
                                    li
                                        a(href='#') FlexBevel


                .col-lg-9.col-xl-9
                    .row.row-pb-sm
                        .col-sm-4
                            .form-group
                                h5 SORT BY
                                .form-field
                                    select#sort.form-control(onchange='location = this.value;')
                                        option(value='' selected = selectedSort == 0) Default
                                        option(value='?sortBy=name&orderBy=asc' selected = selectedSort == 1) Name: A - Z
                                        option(value='?sortBy=name&orderBy=desc' selected = selectedSort == 2) Name: Z - A
                                        option(value='?sortBy=price&orderBy=asc' selected = selectedSort == 3) Price: Low - High
                                        option(value='?sortBy=price&orderBy=desc' selected = selectedSort == 4) Price: High - Low
                    .row.row-pb-md
                        each product in products
                            .col-lg-4.mb-4.text-center
                                .product-entry.border
                                    a.prod-img(href=`/products/${product.slug}`)
                                        img.img-fluid(src=`/images/products/${product.imageCover}` alt=`${product.name}`)
                                    .desc
                                        h2
                                            a(href=`/${product.slug}`)= `${product.name}`
                                        span.price= `$${product.price}`
                    .row
                        .col-md-12.text-center
                            .block-27
                                ul
                                    // check previous page
                                    if currentPage !== 1  
                                        li
                                            a(href=`/products?page=${currentPage-1}`)
                                                i.ion-ios-arrow-back
                                    
                                    if  currentPage - 1 > 0
                                        li
                                            a(href=`/products?page=${currentPage-1}`) #{currentPage - 1}
                                    li.active
                                        a(href=`/products?page=${currentPage}`) #{currentPage}
                                        
                                    if currentPage + 1 <= lastPage
                                        li
                                            a(href=`/products?page=${currentPage + 1}`) #{currentPage+1}

                                    if currentPage < lastPage
                                        li
                                            a(href=`/products?page=${currentPage+1}`)
                                                i.ion-ios-arrow-forward
    .colorlib-partner
        .container
            .row
                .col-sm-8.offset-sm-2.text-center.colorlib-heading.colorlib-heading-sm
                    h2 Trusted Partners
            .row
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-1.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-2.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-3.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-4.jpg' alt='Free html4 bootstrap 4 template')
                .col.partner-col.text-center
                    img.img-fluid(src='/images/brand-5.jpg' alt='Free html4 bootstrap 4 template')

